<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SK네트웍스 고객문의 답변</title>
</head>
<body style="padding:0; margin: 0; font-family: Pretendard, Malgun Gothic, 맑은 고딕, Arial, sans-serif; -webkit-text-size-adjust: none;">
    <table align="center" width="710" style="margin: 0 auto; padding: 0; width: 710px; min-width: 710px; min-height: 948px; color: #000; line-height: 30px;font-family: Pretendard, Malgun Gothic, 맑은 고딕, Arial, sans-serif; font-size: 16px; background-color: #FFFFFF;"
           border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="width: 24px"></td>
            <td style="background-color: #FFFFFF;">
                <table align="center" width="658" style="width: 658px; margin: 0;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="height: 24px"></td>
                        </tr>
                        <tr>
                            <td align="left">
                                <a href="javascript:void(0);" target="_blank" style="display: block">
                                    <img width="156" height="68" border="0" style="display: block" src="https://www.sknetworks.co.kr/assets/images/logo/logo-c2-k.jpg" alt="SK네트웍스" >
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 34px"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 24px"></td>
        </tr>
        <!-- //header -->
        <!-- contents -->
        <tr>
            <td style="width: 24px"></td>
            <td align="center" width="658" style="margin: 0; font-family: Pretendard, Malgun Gothic, 맑은 고딕, Arial, sans-serif; font-size: 42px; font-weight: bold; color: #000000; line-height: normal;">
                문의 / 제안
            </td>
            <td style="width: 24px"></td>
        </tr>
        <tr>
            <td style="width: 24px"></td>
            <td style="height: 50px"></td>
            <td style="width: 24px"></td>
        </tr>
        <tr>
            <td style="width: 24px"></td>
            <td style="width: 658px; height: 530px; border-radius: 10px; border: 1px solid #D6D6D6; background: #F8F7F7; vertical-align: top;">
                <table align="center" width="658" style="width: 658px; margin: 0;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="width: 24px"></td>
                            <td style="height: 24px"></td>
                            <td style="width: 24px"></td>
                        </tr>
                        <tr>
                            <td style="width: 24px"></td>
                            <td align="left" style="font-family: Pretendard, Malgun Gothic, 맑은 고딕, Arial, sans-serif; font-size: 18px; font-weight: 500; color: #000000; line-height: 1.6; vertical-align: top; word-break: keep-all;">
                                고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용고객 문의 답변 내용
                            </td>
                            <td style="width: 24px"></td>
                        </tr>
                        <tr>
                            <td style="width: 24px"></td>
                            <td style="height: 24px"></td>
                            <td style="width: 24px"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- //내용 -->
            </td>
            <td style="width: 24px"></td>
        </tr>
        <!-- //contents -->
        <!-- footer -->
        <tr>
            <td style="width: 24px"></td>
            <td style="background-color: #FFFFFF;">
                <table align="center" width="658" style="margin: 0; width: 658px;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="height: 48px"></td>
                        </tr>
                        <tr>
                            <td align="center" width="658" style="font-family: Pretendard, Malgun Gothic, 맑은 고딕, Arial, sans-serif; text-align: center; color: #000000; font-size: 18px; font-weight: 500; line-height: normal;">
                                본 메일은 발신 전용 메일입니다.<br>
                                추가 문의사항은 SK네트웍스 <a href="https://www.sknetworks.co.kr/global/inquiry-form" target="_blank" title="새창 열기" style="color: #2752FF; text-decoration-line: underline; text-decoration-style: solid;">문의/제안</a> 페이지를 이용해주시기 바랍니다.
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 48px"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 24px"></td>
        </tr>
        <tr>
            <td style="width: 24px"></td>
            <td style="background-color: #FFFFFF;">
                <table align="left" width="658" style="width: 658px;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" width="658" style="width: 658px; font-family: Pretendard, Malgun Gothic, 맑은 고딕, Arial, sans-serif; text-align: left; color: rgba(0, 0, 0, 0.60); font-size: 12px; font-weight: 500; line-height: normal;">
                                경기도 수원시 장안구 경수대로 976번길 19(송죽동)<br>
                                Copyright ⓒ SK Networks Co. Ltd. All Rights Reserved
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 24px"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 24px"></td>
        </tr>
        <!-- //footer -->
        </tbody>
    </table>
</body>
</html>